@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&display=swap');

/* base */
body {
  font-family: Marvel, sans-serif;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: #16111d;
  color: #fff;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 6px;
}
